@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Geist", serif;
  font-optical-sizing: auto;
  font-style: normal;
 }
html, body {
  height: 100%;
  margin: 0; 
  box-sizing: border-box;
  background-color: rgb(240, 240, 240);
}

.header {
    top: 0;
    width: 100%;
    height: 5rem;
    position: fixed;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.headerSection1 {
    width: 25%;
}
.headerSection2 {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    background-color: rgb(255, 255, 255);
}
.subsectionHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}
.iconSubSectionHeader {
    width: 30px;
    height: 30px;
}
#start {
    border-bottom: solid 2px black;
}
.subsectionTitle {
    margin-top: 5px;
    font-weight: 600;
}
.subsectionHeader:hover {
    cursor: pointer;
    transform: scale(1.03);
}
.headerSection3 {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: end;
    padding: 0 1rem 0.4rem 0;
}
.contactMenu {
    top: 5.3rem;
    position: fixed;
    width: 15rem;
    height: 14rem;
    margin: 0 0 0 52.5rem;
    border-radius: 0.5rem;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 3px 3px 8px 0 rgba(0, 0, 0, 0.3);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}  
    .developer {
        width: 90%;
        padding: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0 0.3rem 0;
        border-bottom: solid 1px black;
    }
        .photoProfileContact {
            width: 3rem;
            height: 3rem;
            border-radius: 100%;
        }
        .nameDeveloper {
            font-size: 1rem;
            margin: 0 0 0 0.5rem;
        }
    .skillsDeveloper {
        font-size: 0.9rem;
        font-weight: 500;
        margin: 0 1rem 0 1rem;
    }
    .linksDeveloperContact {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 1rem;
        padding: 1rem;
    }
        .iconMediaContactDeveloper {
            width: 2rem;
            margin: 0 0.5rem 0 0;
        }
        .linkDeveloperContact {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: 0.9rem;
            transition: 0.6s;
        }
            .linkDeveloperContact:hover {
                cursor: pointer;
                transform: scale(1.05);
            }
        
.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 6rem 0 0 0;
    width: 100%;
    gap: 1.5rem;
    box-sizing: border-box;
}
    .section1 {
        top: 6rem;
        position: sticky;
        background-color: rgb(255, 255, 255);
        width: 18%;
        height: 39rem;
        border-radius: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1.5rem;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }
        .photoProfile {
            width: 9rem;
            height: auto;
            border-radius: 100%;
            border: solid 1px black;
            margin: 0 0 0.8rem 0;
            box-shadow: 3px 3px 8px 0 rgba(0, 0, 0, 0.3);
        }
        .name {
            margin: 0 0 0.8rem 0;
            font-size: 1.5rem;
            font-weight: 900;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }
            .name, .photoProfile:hover {
                cursor: pointer;
            }
        .description {
            font-size: 1rem;
            font-weight: 500;
            margin: 0 0 0.8rem 0;
        }
        .location {
            width: 80%;
            padding: 0 0 0.3rem 0;
            margin: 1rem 0 1rem 0;
            border-bottom: solid 1px black;
            display: flex;
            justify-content: center;
        }
        .locationIcon {
            height: 1.2rem;
            width: 1.2rem;
        }
        .socialMedia {
            display: flex;
            gap: 1rem;
        }
            .socialMediaIcon {
                width: 3rem;
                height: 3rem;
                transition: 0.3s;
            }
            .socialMediaIcon:hover {
                cursor: pointer;
                transform: scale(1.03);
            }
    .section2 {
        background-color: rgb(255, 255, 255);
        width: 40%;
        height: auto;
        border-radius: 0.5rem;
        padding: 1.5rem;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }
        .funPhrases {
            font-size: 1rem;
            font-weight: 500;
            margin: 0 0 1.5rem 0;
        }
        .titleGraduateONE {
            width: 100%;
            text-align: center;
            font-size: 1.5rem;
            font-weight: 900;
            margin: 2rem 0 1rem 0;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }
        .ONE {
            display: flex;
            flex-direction: column;
            height: auto;
        }
            .graduateONE {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 0 1rem 0;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            }
                .imageGraduateONE {
                    width: 50%;
                    height: 17rem;
                    border-radius: 8px;
                    transition: 0.3s;
                    margin: 0 0 1rem 0;
                    box-shadow: 3px 3px 8px 0 rgba(0, 0, 0, 0.3);
                }
            .processStudentONE {
                display: flex;
                justify-content: space-between;
            }
                .imageCertificationONE {
                    width: 32%;
                    border-radius: 8px;
                    transition: 0.3s;
                    box-shadow: 3px 3px 8px 0 rgba(0, 0, 0, 0.3);
                }
            .imageCertificationONE:hover, .imageGraduateONE:hover {
                cursor: pointer;
                transform: scale(1.03);
            }
        .titleFeatureProjects {
            font-weight: 900;
            font-size: 2rem;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }
        .featureProjects {
            margin: 0 0 1.2rem 0;
        }
            .project {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            }
            .titleProject {
                margin: 2rem 0 0.8rem 0;
                font-size: 1.5rem;
                font-weight: 800;
            }
            .descriptionProject{
                font-size: 1rem;
                font-weight: 500;
                margin: 0 0 0.8rem 0;
            }
            .video-container {
                margin: 1.5rem 0 1.5rem 0;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: auto;
                aspect-ratio: 16 / 9;
            }
            .video-container iframe {
                width: 100%;
                height: 100%;
                border-radius: 10px;
            }
            .imagesProject {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                flex-wrap: wrap; 
                gap: 0.1rem;
                margin: 0 0 0.8rem 0;
            }
                .imageProject {
                    width: 32%;
                    height: auto;
                    border-radius: 0.3rem;
                    box-shadow: 3px 3px 8px 0 rgba(0, 0, 0, 0.3);
                    transition: 0.3s;
                }
                    .imageProject:hover {
                        cursor: pointer;
                        transform: scale(1.03);
                    }
            .titleLinkProject {
                margin: 0 0 0.4rem 0;
            }
            .linkProject {
                font-size: 1.1rem;
                color: rgb(29, 107, 196);
                text-decoration: none;
            }
                .linkProject:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            .noteProjects {
                font-size: 0.7rem;
                font-weight: 300;
                margin-bottom: 1rem;
            }
            .noteProjects2 {
                font-size: 0.7rem;
                font-weight: 300;
                margin: 0.7rem 0 1rem 0;
            }
    .section3 {
        background-color: rgb(255, 255, 255);
        width: 20%;
        height: 117rem;
        border-radius: 0.5rem;
        padding: 1.5rem;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }
        .titleCertifications {
            margin: 0 0 1.5rem 0;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }
        .certifications {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
        }
        .certificationImage {
            border-radius: 0.5rem;
            width: 100%;
            height: 11rem;
            box-shadow: 3px 3px 8px 0 rgba(0, 0, 0, 0.3);
            transition: 0.3s;
        }
            .certificationImage:hover {
                cursor: pointer;
                transform: scale(1.03);
            }
        .noteCertifications {
            font-size: 0.7rem;
            font-weight: 300;
            margin-top: 1rem;
        }

footer {
    background: #e6e6e6;
    color: rgb(0, 0, 0);
    padding: 20px 0;
    margin-top: 1rem;
}
.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}
.footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    min-width: 250px;
    margin: 10px;
}
.footer-section h3 {
    margin-bottom: 15px;
    font-size: 1.2rem;
}
.footer-section ul {
    list-style: none;
    padding: 0;
}
.footer-section ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    opacity: 0.8;
    transition: opacity 0.3s;
}
.footer-section ul li a:hover {
    opacity: 1;
}
.social-icons a {
    margin-right: 10px;
    font-size: 1.5rem;
    text-decoration: none;
}
.footer-bottom {
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #333;
    margin-top: 20px;
}
