@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

/* 1. Box-sizing y espaciado base */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* 2. Tipografía base */
html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    line-height: 1.5;
    font-family: "Geist", serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f7f9fc;
    color: #111;
    min-height: 100vh;
}

/* 3. Quitar estilos por defecto de elementos comunes */
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

ul[role='list'],
ol[role='list'] {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 4. Formularios limpios */
input,
button,
textarea,
select {
    font: inherit;
    border: none;
    outline: none;
    background: none;
}

/* 5. Botones sin estilos nativos */
button {
    background: none;
    cursor: pointer;
}

/* 6. Quitar animaciones para usuarios que lo pidan */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
