@media (max-width: 768px) {

    .headerSection1, .headerSection3 {
        display: none;
    }
    .headerSection2 {
        width: 100%;
        gap: 0;
    }
    .subsectionHeader {
        width: 16.6%;
    }  
        .subsectionTitle {
            font-size: 0.6rem;
        }

    .contactMenu {
        margin: 0 0 0 8rem;
    }

    .main {
        flex-direction: column;
        margin: 3.5rem 0 0 0;
    }
        .indexProjects {
            display: none;
            width: 80%;
            height: 37rem;
            position: fixed;
            margin: 0 0 0 1rem;
            border: 1px solid rgba(0, 0, 0, 0.2);
            box-shadow: 3px 3px 8px 0 rgba(0, 0, 0, 0.3);
        }
        .mobileIndexButton {
            display: flex;
            width: 3rem;
            height: 3rem;
            right: 0.5rem;
            top: 5.3rem;
            z-index: 1000;
            position: fixed;
            border-radius: 100%;
            border: 1px solid rgba(0, 0, 0, 0.2);
            box-shadow: 3px 3px 8px 0 rgba(0, 0, 0, 0.3);
        }
        .projects {
            width: 100%;
            padding: 1rem;
        }
            .titleProject {
                font-size: 2.3rem;
                font-weight: 900;
                text-align: center;
            }
            .socialMediaIcon {
                width: 3rem;
                height: 3rem;
            }
            .video-container {
                width: 100%;
            }
            
            .imageProject {
                width: 100%;
                height: 12.5rem;
            }
            .subTitleProject {
                font-size: 1.7rem;
                font-weight: 800;
                text-align: center;
            }
            .list {
                margin: 0 1rem 0 1.2rem;
            }
                .descriptionProject li {
                    margin: 0 0 1rem 0;
                }
            .titleLinkProject {
                font-size: 1.3rem;
                font-weight: 800;
                text-align: center;
            }

    footer {
        margin: 0;
    }
        .footer-container {
            gap: 2.5rem;
        }
        .footer-section p {
            text-align: center;
        }
        .footer-bottom  {
            display: flex;
            justify-content: center;
        }
            .footer-bottom p {
                width: 15rem;
            }
}
