@media (max-width: 768px) {

    .headerSection1, .headerSection3 {
        display: none;
    }
    .headerSection2 {
        width: 100%;
        gap: 0;
    }
    .subsectionHeader {
        width: 16.6%;
    }  
        .subsectionTitle {
            font-size: 0.6rem;
        }

    .contactMenu {
        margin: 0 0 0 8rem;
    }

    .main {
        margin: 5rem 0 0 0;
    }
    .about {
        width: 100%;
        padding: 1rem;
    }
    .divAndres {
        display: none;
    }
    .divAndresMobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
        .nameMobile {
            font-size: 2.3rem;
            font-weight: 900;
        }
        .linskContactAbout {
            padding: 0;
            margin: 0.5rem 0 1rem 0;
        }
        .socialMediaIcon {
            width: 3rem;
            height: 3rem;
        }
    .gif {
        display: none;
    }
        .aboutImage {
            width: 100%;
        }   

    footer {
        margin: 0;
    }
        .footer-container {
            gap: 2.5rem;
        }
        .footer-section p {
            text-align: center;
        }
        .footer-bottom  {
            display: flex;
            justify-content: center;
        }
            .footer-bottom p {
                width: 15rem;
            }
}