@media (max-width: 768px) {

    .headerSection1, .headerSection3 {
        display: none;
    }
    .headerSection2 {
        width: 100%;
        gap: 0;
    }
    .subsectionHeader {
        width: 16.6%;
    }  
        .subsectionTitle {
            font-size: 0.6rem;
        }

    .contactMenu {
        margin: 0 0 0 8rem;
    }

    .main {
        flex-direction: column;
        margin: 5rem 0 0 0;
        gap: 0;
    }
        .section1 {
            width: 100%;
            height: auto;
            position: static;
            padding: 1rem;
        }
            .photoProfile {
                width: 10rem;
                height: 10rem;
            }
            .name {
                font-size: 2.3rem;
            }
            .socialMediaIcon {
                width: 3rem;
                height: 3rem;
            }
        .section2 {
            width: 100%;
            margin: 0;
            padding: 1rem;
        }
        .titleProject {
            font-size: 2rem;
        }
        .titleFeatureProjects {
            font-size: 1.8rem;
        }
        .titleLinkProject {
            font-size: 1.5rem;
        }
            .linkProject {
                font-size: 1.5rem;
            }
.section3 {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 1rem;
    height: auto;
}   
    .titleCertifications {
        font-size: 2rem;
        font-weight: 900;
    }
    .certifications {
        width: 100%;
        flex-wrap: wrap;
        flex-direction: row;
        box-sizing: border-box;
    }
    .certificationImage {
        width: 47%;
        height: auto;
    }
    .noteProjects2, .noteCertifications {
        text-align: center;
    }

    footer {
        margin: 0;
    }
        .footer-container {
            gap: 2.5rem;
        }
        .footer-section p {
            text-align: center;
        }
        .footer-bottom  {
            display: flex;
            justify-content: center;
        }
            .footer-bottom p {
                width: 15rem;
            }
}