@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --fuenteLetra: "Open Sans", sans-serif;
    --colorHover: rgb(232, 118, 60);
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    background:rgb(13, 19, 43);
    box-sizing: border-box;
    color: white;
    cursor: default;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
}
/*----------------------------------------------------------------HEADER-----------------------------------------------------------------*/

.header {
    top: 0;
    width: 100%;
    height: 5rem;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1000;
}

    .nombreHeader {
        width: 16.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: var(--fuenteLetra);
        font-size: 1.5rem;
        font-weight: 600;
        text-decoration: none;
        color: white;
        margin-left: 2rem;
    }

        .imagenHeader {
            width: 2.5rem;
            margin: 0 5% 0 0;
            border: 0.5px white solid;
            border-radius: 100%;
        }

    .menuNavegacion {
        display: flex;
        gap: 2.5rem;
        margin: 0 3rem 0 0;
    }

        .seccionPagina {
            color: white;
            font-family: var(--fuenteLetra);
            font-size: 1rem;
            font-weight: 700;
            text-decoration: none;
            transition: 0.3s;
        }

        .cerrarMenu {
            display: none;
        }

        .divLinksContacto {
            display: none;
        }

        .seccionPagina:hover {
            color: var(--colorHover);
            cursor: pointer;
            transform: scale(1.1);
        }

    .menuHamburguesa {
        display: none;
    }
        

/*-----------------------------------------------------------------MAIN-------------------------------------------------------------------*/

.main {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0rem 17.5rem 0rem 17.5rem;
}

    .presentacion {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 8rem 0rem 0rem 0rem;
        border-bottom: 1px white solid;
    }

        .imagenPerfil { 
            width: 6rem;
            height: 6rem;
            border: 0.125rem solid;
            border-color: white;
            border-radius: 100%;
            box-shadow: 0rem 0rem 1.8rem black;
            margin-bottom: 1remx;
        }

        .nombreTitulo {
            font-size: 4rem;
            font-family: var(--fuenteLetra);
            font-weight: 1000;
        }

        .textoDesarrolladorBackend {
            color: rgb(255, 255, 255);
            font-family: var(--fuenteLetra);
            font-size: 1.875rem;
            font-weight: 700;
            margin-bottom: 1.875rem;
        }

    .linksRedesSociales {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4rem;
        margin-bottom: 3rem;
    }

        .linkGitHub {
            background-color: black;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: var(--fuenteLetra);
            font-size: 1rem;
            font-weight: 600;
            color: white;
            border: 0.0625rem white solid;
            border-radius: 1.5625rem;
            width: 10rem;
            height: 2rem;
            transition: 0.4s ;
        }

            .linkGitHub:hover {
                cursor: pointer;
                background-color: rgb(94, 94, 94);
                transform: scale(1.1);
            }

            .linkGitHub:active {
                background-color: rgb(40, 147, 56);
            }

        .linkLinkedIn {
            background-color: rgb(47, 118, 189);
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: var(--fuenteLetra);
            font-size: 1rem;
            font-weight: 600;
            color: white;
            border: 0.0625rem white solid;
            border-radius: 1.5625rem;
            width: 9.375rem;
            height: 1.875rem;
            transition: 0.4s;
        }

            .linkLinkedIn:hover {
                cursor: pointer;
                background-color: rgb(94, 94, 94);
                transform: scale(1.1);
            }

            .linkLinkedIn:active {
                background-color: rgb(40, 147, 56);
            }

        .linkCV {
            background-color: rgb(30, 110, 62);
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: var(--fuenteLetra);
            font-size: 1rem;
            font-weight: 600;
            color: white;
            border: 0.0625rem white solid;
            border-radius: 1.5625rem;
            width: 9.375rem;
            height: 1.875rem;
            transition: 0.4s;
        }

            .linkCV:hover {
                cursor: pointer;
                background-color: rgb(94, 94, 94);
                transform: scale(1.1);
            }

            .linkCV:active {
                background-color: rgb(40, 147, 56);
            }

    .proyectos { 
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
    }

        .subtituloProyectos {
            width: 100%;
            font-family: var(--fuenteLetra);
            font-size: 2rem;
            font-weight: 700;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 0.7rem;
        }

            .proyecto {
                width: 100%;
                height: auto;
                border-bottom: 0.0625rem white solid;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

                .subtituloProyecto {
                    width: 100%;
                    font-family: var(--fuenteLetra);
                    font-size: 1.8rem;
                    font-weight: 800;
                    color: rgb(255, 255, 255);
                    margin: 1rem 0rem 1rem 0rem;
                    text-align: center;
                }

                .descripcionProyecto {
                    font-family: var(--fuenteLetra);
                    font-size: 1.2rem;
                    font-weight: 500; 
                    color: rgb(255, 255, 255);
                    margin: 1rem 0 1rem 0; 
                }

                .contenedorImagenesProyecto {
                    height: auto;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    gap: 3rem;
                    margin: 0rem 0rem 2rem 0rem;
                }

                .imagenProyecto {
                    width: 30%;
                    height: auto;
                    border-radius: 1.5rem;
                    transition: 0.4s;
                    box-shadow: 0rem 0rem 1.8rem black;
                }

                    .linkProyectoGitHub {
                        width: 9rem;
                        height: 1.7rem;
                        font-family: var(--fuenteLetra);
                        font-weight: 700;
                        font-size: 1rem;
                        color: white;
                        text-decoration: none;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-bottom: 2%;
                        transition: 0.4s;
                        border: 1px white solid;
                        border-radius: 1.6rem;
                        background-color: black;
                    }

                        .linkProyectoGitHub:hover {
                            background-color: rgb(97, 91, 91);
                            color: var(--colorHover);
                            transform: scale(1.1);
                        }

                        .linkProyectoGitHub:active {
                            background-color: rgb(40, 147, 56);
                        }

                    .imagenProyecto:hover {
                        transform: scale(1.05);
                        cursor: pointer;
                    }

                .contenedorProyectos::-webkit-scrollbar {
                    width: 0.3125rem;
                }
        
                    .contenedorProyectos::-webkit-scrollbar-thumb {
                        background: white;
                        border-radius: 0.625rem;
                    }

    .certificaciones {
        width: 100%;
        height: 60rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        .subtituloCertificaciones {
            font-family: var(--fuenteLetra);
            font-size: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }

        .contenedorImagenesCertificaciones {
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2%;
            flex-wrap: wrap;
            overflow-y: scroll;
        }

        .contenedorImagenesCertificaciones::-webkit-scrollbar {
            width: 0.3125rem;
        }

            .contenedorImagenesCertificaciones::-webkit-scrollbar-thumb {
                background: white;
                border-radius: 0.625rem;
            }

        .imagenCertificacion {
            width: 30%;
            height: auto;
            border-radius: 1rem;
            transition: 0.4s;
            box-shadow: 0rem 0rem 1.8rem black;
            margin: 15px 0 15px 0;
        }

            .imagenCertificacion:hover {
                cursor: pointer;
                transform: scale(1.05);
            }

    .sobreMi {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 3rem;
        margin-bottom: 7rem;
        border-top: 1px white solid;
    }

        .subtituloSobreMi {
            font-family: var(--fuenteLetra);
            font-size: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 2% 0% 2% 0%;
            width: 100%;
            margin-top: 3rem;
        }

        .imagenDescripcionSobreMi {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-top: 5rem;
        }

            .divImagenSobreMi {
                width: 40%;
                height: auto;
                display: flex;
                align-items: center;
                justify-content: flex-end;
            }

                .imagenSobreMi {
                    width: 60%;
                    height: auto;
                    border-radius: 100%;
                    border: 1px white solid;
                    box-shadow: 0rem 0rem 1.8rem black;
                }

            .descripcionSobreMi {
                width: 60%;
                height: auto;
                display: flex;
                align-items: center;
                justify-content: center;
            }    

            .divPadreParrafoSobreMi {
                width: 80%;
            }

                .parrafoSobreMi {
                    font-family: var(--fuenteLetra);
                    font-size: 1.2rem;
                    font-weight: 600;
                }

                    .palabrasSignificativasSobreMi {
                        color: rgb(192, 104, 53);
                    }
        
/*----------------------------------------------------------------FOOTER-----------------------------------------------------------------*/
.footer {
    color: white;
    width: 80%;
    padding: 1% 0% 1% 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

    .link {
        font-family: var(--fuenteLetra);
        font-size: 1rem;
        font-weight: 600;
        color: white;
        text-decoration: none;
        transition: 0.4s;
        display: flex;
        align-items: center;
        margin: 0.3rem;
    }

        .link:hover {
            color: var(--colorHover);
            cursor: pointer;
            text-decoration: underline;
        }

        .copryrigth {
            font-weight: 700;
            font-size: 1.0625rem;
            font-family: var(--fuenteLetra);
            margin-top: 3rem;
        }


/*-------------------------------------------------- @MEDIA QUERIES ----------------------------------------------------------------------*/

@media (max-width: 768px) {

    .header {
        width: 100%;
        height: 7%;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    } 
    .imagenHeader {
        width: 2rem;
    }
    .nombreHeader {
        width: 12rem;
        margin-left: 0.5rem;
        font-size: medium;
    }
        .menuNavegacion {
            background-color: rgb(0, 0, 0);
            position: absolute;
            width: 10rem;
            height: 20rem;
            top: 0;
            right: 0;
            flex-direction: column;
            margin: 0;
            gap: 1.5rem;
            padding: 0.8rem 1rem 1rem 1rem;
            display: none;
        }
            .seccionPagina {
                font-size: medium;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .divCerrarMenu {
                display: flex;
                align-items: center;
                justify-content: flex-end;
            }
                .cerrarMenu {
                    width: 2rem;
                    height: 2rem;
                    display: flex;
                }
            .divLinksContacto {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 25px;
                gap: 0.5rem;
            }
                .linkContacto {
                    width: 20%;
                    height: 3rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
        .menuHamburguesa {
            width: auto;
            height: 60%;
            display: flex;
            margin-right: 3%;
            font-size: 35px;
            justify-content: flex-end;
        }

    .main {
        width: 90%;
        height: 100%;
    }
    .presentacion {
        width: 100%;
        margin-top: 100px;
    }
        .nombreTitulo {
            text-align: center;
            font-size: 50px;
        }
        .textoDesarrolladorBackend {
            text-align: center;
        }
        .linksRedesSociales {
            flex-direction: column;
            gap: 20px;
            margin-bottom: 25px;
        }
            .linksRedesSociales:hover {
                transform: none;
            }
    .proyectos {
        width: 100%;
        margin: 0;
    }
        .subtituloProyectos {
            margin: 20px 0 10px 0;
        }
        .subtituloProyecto {
            margin-bottom: 0;
        }
        .descripcionProyecto {
            width: 100%;
            height: 90%;
        }
        .contenedorImagenesProyecto {
            border-radius: 20px;
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            overflow-x: scroll;
        }
        .contenedorImagenesProyecto::-webkit-scrollbar {
            height: 5px;
        }
        .contenedorImagenesProyecto::-webkit-scrollbar-thumb {
            background: white;
            border-radius: 0.625rem;
        }
            .imagenProyecto {
                min-width: 100%;
                height: auto;
            }
                .imagenProyecto:hover {
                    transform: none;
                }
            .linkProyectoGitHub {
                margin-bottom: 20px;
            }
    .certificaciones {
        width: 100%;
        height: 500px;
    }
        .subtituloCertificaciones {
            margin: 20px 0 20px 0;
        }
        .contenedorImagenesCertificaciones {
            width: 100%;
        }
            .imagenCertificacion {
                width: 48%;
            }
                .imagenCertificacion:hover {
                    transform: none;
                }
    .sobreMi {
        width: 100%;
        margin: 30px 0 60px 0;
        display: flex;
        flex-direction: column;
    }
        .subtituloSobreMi {
            width: 100%;
            margin-top: 20px;
        }
        .imagenDescripcionSobreMi {
            flex-direction: column;
            margin: 20px 0 20px 0;
        }
            .divImagenSobreMi {
                justify-content: center;
                margin-bottom: 30px;
            }
                .imagenSobreMi {
                    width: 100%;
                    height: auto;
                }
                .descripcionSobreMi {
                    width: 100%;
                }
                .divPadreParrafoSobreMi {
                    width: 100%;
                    margin-top: 20px;
                }
                .links {
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 20px;
                    margin-bottom: 50px;
                }
}