@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --fuenteLetra: sans-serif;
}
* {
    margin: 0;
    padding: 0;
}
html, body {
    background:rgb(30, 30, 30);
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: default;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
    font-family: sans-serif;
}
/*----------------------------------------------------------------HEADER-----------------------------------------------------------------*/
.header {
    top: 0;
    width: 100%;
    height: 25rem;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*position: fixed;*/
    z-index: 1000;
}
.menuNavegacionPC {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        margin: 2rem 0 0 0;
    }
        .seccionPaginaPC {
            font-family: var(--fuenteLetra);
            font-size: 1.2rem;
            font-weight: 600;
            text-decoration: none;
            transition: 0.3s;
            color: white;
            width: auto;
            height: 1.6rem;
            border-radius: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 0.5rem 0 0.5rem;
            transition: 0.1s;
        }
.presentacion {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .imagenPerfil { 
        width: 9rem;
        height: 9rem;
        border-radius: 100%;
        margin-bottom: 1rem;
    }
    .lema {
        color: rgb(196, 172, 19);
        font-style: italic;
        font-family: 'Playfair Display', serif;
        font-size: 1.5rem;
        text-align: center;
    }
    .nombreTitulo {
        font-family: sans-serif;
        font-size: 4rem;
        font-weight: 900;
    }
    .textoDesarrolladorBackend {
        font-family: sans-serif;
        font-size: 1.875rem;
        font-weight: 700;
        color: rgb(192, 104, 53);
    }
       

    .menuNavegacionMovil {
        display: none;
    }

        .cerrarMenu {
            display: none;
        }

        .divLinksContacto {
            display: none;
        }

        .seccionPaginaPC:hover {
            color: black;
            background-color: white;
            cursor: pointer;
        }

    .menuHamburguesa {
        display: none;
    }
/*-----------------------------------------------------------------MAIN-------------------------------------------------------------------*/
.main {
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0rem 17.5rem 0rem 17.5rem;
}
.acercaDe {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: blanchedalmond;
    }
    .titulo {
        width: 100%;
        border-bottom: 1px solid white;
    }
        .subtitulo {
            font-size: 1.6rem;
            display: flex;
            justify-content: start;
            align-items: center;
            width: 100%;
            margin: 3rem 0 0.7rem 0;
        }
        .descripcionSobreMi {
            font-family: var(--fuenteLetra);
            font-size: 1.2rem;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin: 1.5rem 0 0 0;
        }
            .resaltarPalabras {
                color: rgb(192, 104, 53);
            }
.habilidades {
    width: 100%;
}
    .listaTecnologias {
        margin: 1.5rem 0 0 0;
    } 
        .conocimientos {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding: 0 0 0 1rem;
        }
            .especialista {
                width: 100%;
            }
            .generalista {
                width: 100%;
            }
                .tecnologia {
                    font-size: 1.2rem;
                    font-weight: 500;
                    color: rgb(255, 255, 255);
                } 
.educacion {
    width: 100%;
}
    .listaEducacion {
        margin: 1.5rem 0 0 0;
    } 
        .institucion {
            font-size: 1.2rem;
            font-weight: 500;
            color: rgb(255, 255, 255);
        }
.certificaciones {
        width: 100%;
        height: 40rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
        .subtituloCertificaciones {
            font-size: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
        .contenedorImagenesCertificaciones {
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2%;
            flex-wrap: wrap;
            overflow-y: scroll;
        }
        .contenedorImagenesCertificaciones::-webkit-scrollbar {
            width: 0.3125rem;
        }
            .contenedorImagenesCertificaciones::-webkit-scrollbar-thumb {
                background: rgb(255, 255, 255);
                border-radius: 0.625rem;
            }
        .imagenCertificacion {
            width: 30%;
            height: auto;
            border: 1px black solid;
            border-radius: 0.5rem;
            transition: 0.4s;
            margin: 15px 0 15px 0;
        }
            .imagenCertificacion:hover {
                cursor: pointer;
                transform: scale(1.05);
            }       
.proyectos { 
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
    }
        .subtituloProyectos {
            width: 100%;
            font-size: 2rem;
            font-weight: 800;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 0.7rem;
        }
            .proyecto {
                width: 100%;
                height: auto;
                border-bottom: 0.0625rem rgb(255, 255, 255) solid;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
                .subtituloProyecto {
                    width: 100%;
                    font-size: 1.8rem;
                    font-weight: 700;
                    margin: 1rem 0rem 1rem 0rem;
                    text-align: center;
                }
                .descripcionProyecto {
                    font-family: var(--fuenteLetra);
                    font-size: 1.3rem;
                    font-weight: 500; 
                    margin: 1rem 0 1rem 0; 
                }
                .contenedorImagenesProyecto {
                    height: auto;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    gap: 3rem;
                    margin: 0rem 0rem 2rem 0rem;
                }
                .imagenProyecto {
                    width: 30%;
                    height: auto;
                    border-radius: 0.5rem;
                    transition: 0.4s;
                }
                    .linkProyectoGitHub {
                        width: 9rem;
                        height: 2.5rem;
                        font-family: var(--fuenteLetra);
                        font-weight: 700;
                        font-size: 1rem;
                        color: white;
                        text-decoration: none;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-bottom: 2%;
                        transition: 0.4s;
                        border-radius: 1.6rem;
                        background-color: rgb(66, 66, 66);
                    }
                        .linkProyectoGitHub:hover {
                            background-color: rgb(65, 65, 65);
                        }
                        .linkProyectoGitHub:active {
                            background-color: rgb(40, 147, 56);
                        }
                    .imagenProyecto:hover {
                        transform: scale(1.05);
                        cursor: pointer;
                    }
                .contenedorProyectos::-webkit-scrollbar {
                    width: 0.3125rem;
                }
                    .contenedorProyectos::-webkit-scrollbar-thumb {
                        background: white;
                        border-radius: 0.625rem;
                    }






    

    

    


        .linksRedesSociales {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4rem;
        margin-bottom: 3rem;
    }
        .linkGitHub {
            background-color: rgb(66, 66, 66);
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: var(--fuenteLetra);
            font-size: 1rem;
            font-weight: 600;
            color: white;
            border-radius: 1.5625rem;
            width: 9rem;
            height: 2.5rem;
            transition: 0.4s ;
        }
            .linkGitHub:hover {
                cursor: pointer;
                background-color: rgb(94, 94, 94);
                transform: scale(1.1);
            }
            .linkGitHub:active {
                background-color: rgb(40, 147, 56);
            }
        .linkLinkedIn {
            background-color: rgb(47, 118, 189);
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: var(--fuenteLetra);
            font-size: 1rem;
            font-weight: 600;
            color: white;
            border-radius: 1.5625rem;
            width: 9rem;
            height: 2.5rem;
            transition: 0.4s;
        }
            .linkLinkedIn:hover {
                cursor: pointer;
                background-color: rgb(94, 94, 94);
                transform: scale(1.1);
            }
            .linkLinkedIn:active {
                background-color: rgb(40, 147, 56);
            }
        .linkCV {
            background-color: rgb(30, 110, 62);
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: var(--fuenteLetra);
            font-size: 1rem;
            font-weight: 600;
            color: white;
            border-radius: 1.5625rem;
            width: 9rem;
            height: 2.5rem;
            transition: 0.4s;
        }
            .linkCV:hover {
                cursor: pointer;
                background-color: rgb(94, 94, 94);
                transform: scale(1.1);
            }
            .linkCV:active {
                background-color: rgb(40, 147, 56);
            }
/*----------------------------------------------------------------FOOTER-----------------------------------------------------------------*/
.footer {
    width: 80%;
    padding: 1% 0% 1% 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
    .contacto {
        margin-bottom: 1rem;
    }
    .link {
        font-family: var(--fuenteLetra);
        font-size: 0.8rem;
        font-weight: 500;
        text-decoration: none;
        transition: 0.4s;
        display: flex;
        align-items: center;
        margin: 0.3rem;
        color: rgb(255, 255, 255);
    }
        .link:hover {
            color: var(--colorHover);
            cursor: pointer;
            text-decoration: underline;
        }
        .copryrigth {
            font-weight: 500;
            font-size: 0.8rem;
            font-family: var(--fuenteLetra);
            margin-top: 3rem;
        }
/*-------------------------------------------------- @MEDIA QUERIES ----------------------------------------------------------------------*/

@media (max-width: 768px) {

    .header {
        width: 100%;
        height: 7%;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    } 
    .imagenHeader {
        width: 2rem;
        height: 2rem;
    }
    .nombreHeader {
        width: 12rem;
        margin-left: 0.5rem;
        font-size: medium;
    }
        .menuNavegacionPC {
            display: none;
        }
        .menuNavegacionMovil {
            background-color: rgb(0, 0, 0);
            position: absolute;
            width: 10rem;
            height: 20rem;
            top: 0;
            right: 0;
            flex-direction: column;
            margin: 0;
            gap: 1.5rem;
            padding: 0.8rem 1rem 1rem 1rem;
            opacity: 0.85;
        }
            .seccionPaginaMovil {
                font-family: var(--fuenteLetra);
                font-weight: 700;
                text-decoration: none;
                color: white;
                transition: 0.3s;
                font-size: medium;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .divCerrarMenu {
                display: flex;
                align-items: center;
                justify-content: flex-end;
            }
                .cerrarMenu {
                    width: 2rem;
                    height: 2rem;
                    display: flex;
                }
            .divLinksContacto {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 25px;
                gap: 0.5rem;
            }
                .linkContacto {
                    width: 20%;
                    height: 3rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
        .menuHamburguesa {
            width: auto;
            height: 60%;
            display: flex;
            margin-right: 3%;
            font-size: 35px;
            justify-content: flex-end;
        }

    .main {
        width: 90%;
        height: 100%;
    }
    .presentacion {
        width: 100%;
        margin-top: 100px;
    }
        .nombreTitulo {
            text-align: center;
            font-size: 50px;
        }
        .textoDesarrolladorBackend {
            text-align: center;
        }
        .divTecnologias {
            width: 100%;
        }
            .tecnologias {
                font-size: 0.8rem;
            }
        .linksRedesSociales {
            flex-direction: column;
            gap: 20px;
            margin-bottom: 25px;
        }
            .linksRedesSociales:hover {
                transform: none;
            }
    .proyectos {
        width: 100%;
        margin: 0;
    }
        .subtituloProyectos {
            margin: 20px 0 0px 0;
        }
        .subtituloProyecto {
            margin-bottom: 0;
        }
        .descripcionProyecto {
            width: 100%;
            height: 90%;
            font-size: 1rem;
        }
        .contenedorImagenesProyecto {
            border-radius: 20px;
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            overflow-x: scroll;
        }
        .contenedorImagenesProyecto::-webkit-scrollbar {
            height: 5px;
        }
        .contenedorImagenesProyecto::-webkit-scrollbar-thumb {
            background: rgb(255, 255, 255);
            border-radius: 0.625rem;
        }
            .imagenProyecto {
                min-width: 100%;
                height: auto;
                margin-bottom: 0.7rem;
            }
                .imagenProyecto:hover {
                    transform: none;
                }
            .linkProyectoGitHub {
                margin-bottom: 20px;
            }
    .certificaciones {
        width: 100%;
        height: 500px;
    }
        .subtituloCertificaciones {
            margin: 20px 0 20px 0;
        }
        .contenedorImagenesCertificaciones {
            width: 100%;
        }
            .imagenCertificacion {
                width: 48%;
            }
                .imagenCertificacion:hover {
                    transform: none;
                }
    .sobreMi {
        width: 100%;
        margin: 30px 0 20px 0;
        display: flex;
        flex-direction: column;
    }
        .subtituloSobreMi {
            width: 100%;
            margin-top: 20px;
        }
        .imagenDescripcionSobreMi {
            flex-direction: column;
            margin: 20px 0 20px 0;
        }
            .divImagenSobreMi {
                width: 10rem;
                height: 10rem;
                justify-content: center;
                margin-bottom: 20px;
            }
                .imagenSobreMi {
                    width: 10rem;
                    height: 10rem;
                }
                .descripcionSobreMi {
                    width: 100%;
                }
                .divPadreParrafoSobreMi {
                    width: 100%;
                    margin-top: 20px;
                }
                .parrafoSobreMi {
                    font-size: 1rem;
                }
                .links {
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 20px;
                    margin-bottom: 50px;
                }
}